<link rel="stylesheet" href="/assets/user/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/user/assets/css/icons.min.css" />
<link rel="stylesheet" href="/assets/user/assets/css/app.min.css" />

<body data-sidebar="dark">
  <div id="layout-wrapper">
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
        <router-outlet></router-outlet>

      </div>
      <!-- <app-user-footer></app-user-footer> -->
      <app-user-header></app-user-header>

    </div>
    </div>

    <app-user-sidebar></app-user-sidebar>

  </div>
</body>
