<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>
                <li>
                    <a class="waves-effect" routerLink="/user/home" routerLinkActive="active">
                        <i class="bx bx-home-circle"></i>
                        <span class="badge badge-pill badge-info float-right"></span>
                        <span>Dashboard</span>
                    </a>

                    <a class="waves-effect" routerLink="/user/checkResults" routerLinkActive="active">
                        <i class="bx bx-check-square"></i>
                        <!-- <span class="badge badge-pill badge-info float-right">3</span> -->
                        <span>Check Results</span>
                    </a>

                    <a class="waves-effect" routerLink="/user/checkEligilibilty" routerLinkActive="active">
                        <i class="bx bx-task"></i>
                        <span class="badge badge-pill badge-info float-right"></span>
                        <span>Eligibility Report(s)</span>
                    </a>

                    <!-- <a class="waves-effect" routerLinkActive="active">
                        <i class="bx bx-task"></i>
                        <span class="badge badge-pill badge-info float-right">Pending</span>
                        <span>My Eligibility Status</span>
                    </a> -->

                    <!-- <a class="waves-effect" routerLinkActive="active">
                        <i class="bx bx-file"></i>
                        <span class="badge badge-pill badge-info float-right">2</span>
                        <span>My Application</span>
                    </a> -->
                </li>
            </ul>
        </div>
    </div>
</div>