<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>

                    <a  class="waves-effect" routerLink="/user/home">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right"></span>
                        <span>Dashboard</span>
                    </a>

                    <a  class="waves-effect" routerLink="/user/checkResults">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right"></span>
                        <span>Check Results</span>
                    </a>

                    <a  class="waves-effect" routerLink="/user/checkEligilibilty">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right">
                            
                        </span>
                        <span>Check Eligibility  for Schools</span>
                    </a>


                    <a  class="waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right">
                            
                        </span>
                        <span>My Eligibility Status</span>
                    </a>

                    <a  class="waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right">
                            
                        </span>
                        <span>My Application</span>
                    </a>
                
                </li>
            </ul>
        </div>
    </div>
</div>