<link rel="stylesheet" href="/assets/admin/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/admin/assets/css/plugins.min.css" />
<link rel="stylesheet" href="/assets/admin/assets/css/kaiadmin.min.css" />


<div class="wrapper">
  <app-admin-sidebar></app-admin-sidebar>

  <div class="main-panel">
    <div class="main-header">
      <app-admin-header></app-admin-header>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-admin-footer></app-admin-footer>
</div>
