<form [formGroup]="addUniForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Add University Information</div>
        </div>
        <div class="card-body">
          <!-- Row 2 -->
          <div class="row">
            <!-- Quantity -->
            <div class="col-md-4">
              <div class="form-group">
                <label for="universityName">Name of University</label>
                <input
                  type="text"
                  class="form-control"
                  id="universityName"
                  placeholder="Enter University"
                  formControlName="universityName"
                />
                <div class="text-danger" *ngIf="addUniForm.get('universityName')?.touched && addUniForm.get('universityName')?.hasError('required')">
                  University name is required
                </div>
              </div>
            </div>

            <!-- Category (Select) -->
            <div class="col-md-4">
              <div class="form-group">
                <label for="category">Category</label>
                <select
                  class="form-control"
                  id="category"
                  formControlName="category"
                >
                  <option value="">-- Select Category --</option>
                  <option *ngFor="let cat of categories" [value]="cat">
                    {{ cat }}
                  </option>
                </select>
                <div class="text-danger" *ngIf="addUniForm.get('category')?.touched && addUniForm.get('category')?.hasError('required')">
                  Category is required
                </div>
              </div>
            </div>

            <!-- Farm ID (Select) -->
            <div class="col-md-4">
              <div class="form-group">
                <label for="location">Location</label>
                <textarea
                  class="form-control"
                  id="location"
                  placeholder="Enter Location"
                  formControlName="location"
                  rows="3"
                ></textarea>
                <div class="text-danger" *ngIf="addUniForm.get('location')?.touched && addUniForm.get('location')?.hasError('required')">
                  Location is required
                </div>
              </div>
            </div>
          </div>

                   <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>




<hr>

























